<mat-toolbar color="primary" class="fixed-header">
  <!--<div fxHide.gt-xs>-->
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  <!--</div>-->
  <div>
    <a routerLink="/">
      <mat-icon></mat-icon>
      <span class="span">USER MODE</span></a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <mat-icon *ngIf="!logined">git</mat-icon><span *ngIf="!logined" (click)="login()" class="span">LOGIN</span>
      </li>
      <li>
        <mat-icon *ngIf="!logined" (click)="login()">perm_identity</mat-icon>
      </li>
      <li>
        <mat-icon *ngIf="!logined">git</mat-icon><span *ngIf="!logined" (click)="register()" class="span">REGISTER</span>
      </li>
      <li>
        <mat-icon *ngIf="!logined" (click)="register()">account_box</mat-icon>
      </li>
      <li>
        <mat-icon *ngIf="logined">git</mat-icon><span *ngIf="logined" (click)="userInfomation()" class="span">{{username}}</span>
      </li>
      <li>
        <mat-icon *ngIf="logined" (click)="userInfomation()">perm_identity</mat-icon>
      </li>
      <li>
        <mat-icon *ngIf="logined">git</mat-icon><span *ngIf="logined" (click)="logout()" class="span">LOGOUT</span>
      </li>
      <li>
        <mat-icon *ngIf="logined" (click)="logout()">logout</mat-icon>
      </li>
    </ul>
  </div>
</mat-toolbar>

