<div class="info">
  Bài hát: {{song?.name}} - Singer: {{song?.singer_name}}
</div>
<div class="icon">
  <mat-icon (click)="previousSong()" onclick="document.getElementById('player').load()">skip_previous</mat-icon>
  <mat-icon [hidden]="played" onclick="document.getElementById('player').play()" (click)="clickPlay()">play_arrow
  </mat-icon>
  <mat-icon [hidden]="!played" onclick="document.getElementById('player').pause()" (click)="clickPause()">pause
  </mat-icon>
  <mat-icon (click)="nextSong()" onclick="document.getElementById('player').load()">skip_next</mat-icon>
</div>
<div class="audio">
  <audio id="player" [loop]="loop" controls=”controls” preload=”auto” autoplay="autoplay" (ended)="addCount(song); nextSong();">
    <source [src]="'http://localhost:8080/mp3files/'+songID+'/raw'" type="audio/mpeg"
            style="width: 100px">
  </audio>
  <div style="float: left; padding-right: 20px">
    <mat-icon *ngIf="!isLiked(song?.id)" class="favorite" (click)="like(song?.id)">favorite</mat-icon>
    <mat-icon *ngIf="isLiked(song?.id)" class="favorite" (click)="like(song?.id)">favorite_border</mat-icon>
  </div>
  <div>
    <mat-icon *ngIf="isRepeated" (click)="unRepeat()">repeat</mat-icon>
    <mat-icon *ngIf="!isRepeated" (click)="repeat()">repeat_one</mat-icon>
  </div>
</div>
