<div mat-dialog-content>
  <form class="example-form" [formGroup]="formSong" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Name" type="text" required name="name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" required name="body" type="text"
                formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Singer" type="text" required name="name" formControlName="singer_name">
    </mat-form-field>
    <!--<input matInput placeholder="Mp3 File" type="file" required name="name" [(ngModel)]="formCreate.mp3File">-->
    <label for="singleFile">Upload Image</label>
    <input id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue" (change)="onSelectImage($event)"/>
    <mat-file-upload-queue #fileUploadQueue
                           [fileAlias]="'file'"
                           [httpUrl]="'http://localhost:8080/images'"
                           (click)="clickUpImage()"
    >

      <mat-file-upload [file]="file" [id]="i"
                       *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>
    <mat-form-field>
      <mat-select placeholder="Image Choose" required name="image" formControlName="image" (click)="loadImageSelect()">
        <mat-option *ngFor="let image of imageList" [value]="image">{{image.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <label for="singleFile">Upload Mp3</label>
    <input id="singleFile1" type="file" [fileUploadInputFor]="fileUploadQueue1"/>
    <mat-file-upload-queue #fileUploadQueue1
                           [fileAlias]="'file'"
                           [httpUrl]="'http://localhost:8080/mp3files'"
                           (click)="clickUpMp3()"
    >
      <mat-file-upload [file]="file" [id]="i"
                       *ngFor="let file of fileUploadQueue1.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>
    <mat-form-field>
      <mat-select placeholder="Mp3 File Choose" required name="mp3File" formControlName="mp3File" (click)="loadMp3Select()">
        <mat-option *ngFor="let mp3File of mp3FileList" [value]="mp3File">{{mp3File.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!--<input matInput placeholder="Image" type="file" required name="name" [(ngModel)]="formCreate.image">-->
    <mat-form-field>
      <mat-select placeholder="Post Category" required name="category" formControlName="songCategory">
        <mat-option *ngFor="let category of categoryList" [value]="category">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="onClick($event)">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>
