<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field>
      <input matInput placeholder="Name" type="text" required name="name" [(ngModel)]="formCreate.name">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Description" required  name="body" type="text" [(ngModel)]="formCreate.description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Singer" type="text" required name="name" [(ngModel)]="formCreate.singer_name">
    </mat-form-field>
      <!--<input matInput placeholder="Mp3 File" type="file" required name="name" [(ngModel)]="formCreate.mp3File">-->
      <button (click)="fileInput.click()">
        <mat-icon>library_add</mat-icon>
        <span>Select</span>
        <input #fileInput type="file" (change)="fileInput($event)" [(ngModel)]="formCreate.mp3File" placeholder="MP3 File" name="name">
      </button>
      <button (click)="fileInput.click()">
        <mat-icon>library_add</mat-icon>
        <span>Select</span>
        <input #fileInput placeholder="Image" type="file" (change)="fileInput($event)" [(ngModel)]="formCreate.image" name="name">
      </button>
      <!--<input matInput placeholder="Image" type="file" required name="name" [(ngModel)]="formCreate.image">-->
    <mat-form-field>
      <mat-select placeholder="Post Category" required name="category">
        <mat-option>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>
