<section [hidden]="toggle" class="headerGrid">
  <div class="header-title">
    <h1>Favorite Songs</h1>
  </div>
  <div class="header-container">
    <div class="inner-header-container">
      <div class="album-cover-container mat-elevation-z24">
        <div class="album-cover"></div>
      </div>
      <div class="text-outer-container">
        <div class="album-text">
          <div class="album-name-container">
            <div class="more-info-album">
              <div class="album-name">
                <a class="more-info-album-name">CrenShaw</a>
              </div>
              <mat-icon class="explicit">explicit</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
