<h2>REGISTER</h2>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="formUser" (ngSubmit)="onSubmit()">

    <!--//Username-->
    <mat-form-field>
      <input matInput type="text" placeholder="Username" required name="name" formControlName="username">
    </mat-form-field>

    <!--//Password-->
    <mat-form-field>
      <input matInput type="password" placeholder="Password" required name="name" formControlName="password">
    </mat-form-field>

    <!--//Name-->
    <mat-form-field>
      <input matInput type="text" placeholder="Name" required name="name" formControlName="name">
    </mat-form-field>

    <!--//Favourite Music-->
    <mat-form-field>
      <input matInput type="text" placeholder="Favourite Music" required name="name" formControlName="favouriteMusic">
    </mat-form-field>

    <!--//Email-->
    <mat-form-field>
      <input matInput type="email" placeholder="Email" required name="name" formControlName="email">
    </mat-form-field>

    <!--//Address-->
    <mat-form-field>
      <input matInput type="text" placeholder="Address" required name="name" formControlName="address">
    </mat-form-field>

    <!--//Male-->
    <mat-form-field>
      <mat-select placeholder="Sex" required formControlName="male">
        <mat-option [value]="true">Male</mat-option>
        <mat-option [value]="false">Famale</mat-option>
      </mat-select>
    </mat-form-field>

    <!--//UPLOAD Avatar-->
    <label for="singleFile">Upload Avatar</label>
    <input id="singleFile" type="file" [fileUploadInputFor]="fileUploadQueue" (change)="onSelectAvatar($event)"/>
    <mat-file-upload-queue #fileUploadQueue
                           [fileAlias]="'file'"
                           [httpUrl]="'http://localhost:8080/avatars'"
                           (click)="clickUpAvatar()">

      <mat-file-upload [file]="file" [id]="i"
                       *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>

    <!--//Choose Avatar-->
    <mat-form-field>
      <mat-select placeholder="Avatar Choose" required formControlName="avatar" (click)="loadAvatarSelect()">
        <mat-option *ngFor="let avatar of avatarList" [value]="avatar">{{avatar.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" (click)="onClick($event)">Save</button>
    <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
  </form>
</div>
