mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}
body {
  background-image: url("~src/assets/images/admin-background.png");
  background-repeat:no-repeat;
  background-size:cover;
}
