<!--<form [formGroup]="formCreate" (ngSubmit)="onSubmit()">-->
<!--<label class="col">-->
<!--Name-->
<!--<input type="text" formControlName="name" class="form-control" >-->
<!--</label>-->
<!--<div *ngIf="formCreate.get('name').invalid && formCreate.get('name').touched" class="alert alert-danger">-->
<!--At least 0 character!-->
<!--</div>-->
<!--<label class="col">-->
<!--Description-->
<!--<input type="text" formControlName="description" class="form-control" >-->
<!--</label>-->
<!--<div *ngIf="formCreate.get('description').invalid && formCreate.get('description').touched" class="alert alert-danger">-->
<!--At least 0 character!-->
<!--</div>-->
<!--<label class="col">-->
<!--Singer's Name-->
<!--<input type="text" formControlName="singer_name" class="form-control" >-->
<!--</label>-->
<!--<div *ngIf="formCreate.get('singer_name').invalid && formCreate.get('singer_name').touched" class="alert alert-danger">-->
<!--At least 0 character!-->
<!--</div>-->
<!--<label class="col">-->
<!--Category-->
<!--<select formControlName="songCategory" class="form-control">-->
<!--<option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>-->
<!--</select>-->
<!--</label>-->
<!--<label class="col">-->
<!--Image Description-->
<!--<input type="file" formControlName="image" class="form-control" (change)="onSelectImage($event)" >-->
<!--</label>-->
<!--<label class="col">-->
<!--Mp3 File-->
<!--<input type="file" formControlName="mp3File" class="form-control" (change)="onSelectMp3($event)">-->
<!--</label>-->
<!--<button type="submit" class="btn btn-dark ">Submit</button>-->
<!--</form>-->
<div class="container">
  <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center" class="content">
    <div class="blocks">
      <button type="submit" mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Add Post
      </button>
    </div>
  </div>
</div>
